*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

body{
    background: #0A0E21;
}

.container{
    max-width: 340px;
    margin: 0 auto;
}

.result{
    display: none;
    background: #1A1F38;
    padding: 45px 0;
    margin-top: 40px;
    border-radius: 25px;
}

button{
    display: block;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    width: 80%;
    border-radius: 20px;
    background: #F10606;
    margin: 0 auto;
    padding: 28px 0;
    border: none;
    cursor: pointer;
}

.result-number{
    font-family: Roboto, sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 94px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.result-text{
    font-family: Roboto, sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    color: #09FF7A;
}

.title{
    font-family: Roboto, sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin-top: 28px;
    margin-bottom: 47px;
}

.box{
    padding: 38px;
    border-radius: 15px;
    background: #1A1F38;
    margin-bottom: 50px;
}

.box h3{
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

input{
    display: block;
    width: 40%;
    height: 40px;
    margin: 0 auto;
    outline: none;
    background: #0A0E21;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding-left: 15px;
}




